@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins';
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

#logo-nav{
    color: darksalmon;
    font-size: 30px;
}

.btn-text{
    color: #289BDE;
}
.carousel-caption{
   bottom: 27%; 
}
.carousel-caption h1{
    font-size: 70px;
}
.carousel-caption p{
    font-size: 20px;
}
.img-brightness{
    filter: brightness(50%);
}
.icon{
    border: 1px solid white;
    border-radius:3px;
}
.icon i{
    font-size: 24px;
    color: #FFFFFF;
}

@media only screen and (max-width: 992px) {
    .brand-logo{
        display: none;
    }
    .call-to-action{
        text-align: center;
    }
    .register-button{
        display: block;
        margin: 0 auto;
    }
    .carousel-caption{
        bottom: 10%; 
     }
     .carousel-caption h1{
        font-size: 46px;
    }
    .carousel-caption p{
        font-size: 14px;
    }
    }

@media only screen and (max-width: 600px) {
.brand-logo{
    display: none;
    
}
.carousel-caption{
    bottom: 5%; 
 }
 .carousel-caption h1{
    font-size: 26px;
}
}



