@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins';
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding: 0 4%;
}
/* .logo-font{
    font-family: 'Poppins';
} */
#logo-nav{
    color: darksalmon;
    font-size: 30px;
}

.btn-text{
    color: #289BDE;
}
.carousel-caption{
   bottom: 27%;
   padding: 0 10%; 
}
.carousel-caption h1{
    font-size: 70px;
}
.carousel-caption p{
    font-size: 20px;
}
.margin{
    margin-top: 100px;
}
.img-brightness{
    filter: brightness(50%);
}

@media only screen and (max-width: 600px) {
.brand-logo{
    display: none;
}
}